<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link type="text/css" href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.json-2.4.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/UIFrame/EasyUi/jquery.easyui.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/UIFrame/EasyUi/jquery.easyui.plus.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/UIFrame/EasyUi/locale/easyui-lang-zh_CN.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/UIFrame/EasyUi/fullcalendar.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/UIFrame/EasyUi/validatebox.js")"></script>
    <link type="text/css" href="@Url.Content("~/UIFrame/EasyUi/themes/default/emailCounter.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/UIFrame/EasyUi/themes/default/easyui.css")" rel="stylesheet" />
    <link type="text/css" href="@Url.Content("~/UIFrame/EasyUi/themes/icon.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/Common/main.js")"></script>
    @this.RenderSection("Head_JsAndCss", false)
  
</head>
<body>
    @RenderBody()
</body>
</html>
